<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meadowlark Travel</title>
</head>
<body>
	<header>
		<img src="/img/logo.jpg" alt="ME">
	</header>

	{{#if flash}}
		<div class="alert alert-dismissible alert-{{flash.type}}">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;
		<button><strong>{{flash.intro}}</strong> {{{flash.message}}}</div>
	{{/if}}

	{{{body}}}
</body>
</html>
